body {
    margin: 5%;
    font-family: monospace;
    display: grid;
    justify-content: center;
    background: rgb(231, 241, 234);
}

.title {
    color: rgb(22, 105, 122);
    text-align: center;
    margin-bottom: 1em;
}

.entry-textbox {
    background-color: rgb(198, 184, 255);
    color: black;
    width: 20em;
    height: 10em;
    padding: 1em;
    margin-bottom: 0.5em;
    border: unset;
    border-radius: 25px;
}

.entry-textbox:focus {
    outline: none;
    box-shadow: 0 0 2px #000;
}

#entryForm .button {
    border: unset;
    border-radius: 25px;
    padding: 5px 16px;
    margin-left: 76%;
    background: #fffbd6;
}
 
 #entries {
     background: #f5e8de;
     color: black;
     font-family: cursive;
     padding: 2em;
     max-width: 20em;
     border: unset;
     border-radius: 25px;
     margin-top: 1em;
 }
 
 .entries-nav {
     padding-bottom: 1em;
 }
 
 .display-entry-button {
     margin: 0.2em;
     background-color: #fffbd6;
 }
 
 .display-entry-button:hover {
     cursor: pointer;
 }